.ui.menu {
    background: none;
    border: none;
    box-shadow: none;
    position: relative;
    top: 30px;
}

.ui.menu .item:before {
    background: none;
}

.ui.input.input-search-ladsgn {
    width: 400px!important;
 
}

.ui.input>input {
    border-radius: 50px;
}

